body {
    font-family: Arial, sans-serif;
}
/* Navigation styles */

nav {
    background-color: #444;
    color: #fff;
    padding: 20px 0;
    text-align: right; /* Align content to the right */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove default margin */
}

nav li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    padding: 10px 12px;
}

nav a {
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    text-decoration-color:rgb(219, 99, 119);
    text-decoration-thickness:5px ;
}
.container {
    /* Add your custom styles here */
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* You can add more styles as needed */
}
.form-inline {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Style book result container */
.book-info {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

/* Style book titles */
.book-info h4 {
    font-size: 1.5em;
}

/* Style book details */
.book-info p {
    margin: 5px 0;
}

/* Style book images */
.book-image {
    width: 100px;
    height: 150px; /* Adjust as needed */
}
