<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='profile.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <Title>User Profile</Title>
</head>
<body>
    <nav>
        <ul>
            <li><b>Library Management System</b></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li><a href="/profile">Home</a></li>
            <li><a href="/books-all">Books</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/logout">logout</a></li>
            <li style="color:#ddd"><b>{{session.user}}</b></li>
        </ul>
    </nav>   
    <div>
        <h2 align="center">Welcome to the Library Management Dashboard</h2>
        <p>This is a simplified example of a library management dashboard.</p>
        <h2>Search for Books by category</h2>
        <form action="{{url_for('profile')}}"method="POST" class="form-inline">
            <div class="form-group">
                <select class="form-control" id="category" name="category">
                    <option value="category">--SelectCategory--</option>
                    <option value="Android">Android</option>
                    <option value="Action">Action</option>
                    <option value="Comics">Comics</option>
                    <option value="fiction">Fiction</option>
                    <option value="Horror">Horror</option>
                </select>
            </div>        
            <div class="form-group">
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter book title">
            </div>
            <button type="submit" class="btn btn-primary"><b>Search</b></button>
        </form>
        <h2>Search Results</h2>
        <div class="row">
            {% for result in results %}
            <div class="col-md-4">
                <div class="book-info">
                    <img src="{{ result.thumbnailUrl }}" alt="{{ result.title }}" class="book-image">
                    <h5 align="left">Title: {{ result.title }}</h4>
                    <p align="left">Authors: {{ result.authors|join(', ') }}</p>
                    <p align="left">Page Count: {{ result.pageCount }}</p>
                    <p align="left">Available Count: {{result.bookcount}}</p>
                    <form action="/add" method="post">
                        <input type="hidden"  name="id" value="{{result._id}}">
                        <button type="submit">ADD</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>